<p class="titulo margin-top"><strong>Listado de Operaciones</strong></p>

<div>
    <table class="table table-hover" aria-label="listaOperaciones">
        <thead>
          <tr>
            <th scope="col">Codigo Operacion</th>
            <th scope="col">Nombre</th>
            <th scope="col">Valor opracion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let operacion of listaOperaciones">
            <td>{{operacion.id}}</td>
            <td>{{operacion.nombreOperacion}}</td>
            <td>{{operacion.valorOperacionUnidad}}</td>
        </tbody>
      </table>
</div>
