<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Asignación Lote
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                    <a class="dropdown-item" id="linkCrearLote" routerLink="./crear/asignacionLote"
                        routerLinkActive="active">Asignar Lote</a>
                    <a class="dropdown-item" id="linkListarLote" routerLink="./listar/asignacionLote"
                        routerLinkActive="active">Listar Lotes Asignados</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Pagar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" id="linkCrearOperacion" routerLink="./pagar" routerLinkActive="active">Pago
                        Operario</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>